In [1]:
#print 0 to 20 by using range
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
# print range 0 to 20
for temp in range(0,20):
    print(temp,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [3]:
# Print number of items in the list by using 'len'
list1=[23,34,45,46,67]
list2=[22,24,24,21,56,57,88]
print(list2)
print("number of items in list2:",len(list2))

[22, 24, 24, 21, 56, 57, 88]
number of items in list2: 7

In [1]:
string1='Artificial Intelligence'
print(string1)
for i in string1:
    print(i[0:23])

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [3]:
string1='your'
string2=("Name","age","profession")
print(string1,string2[0])
print(string1,string2[1])
print(string1,string2[2])

your Name
your age
your profession

In [4]:
# mixed datatypes
string3=(1,'welcome',2,'hope')
print('tuple with mixed datatypes:')
print(string3)

tuple with mixed datatypes:
(1, 'welcome', 2, 'hope')

In [6]:
# tuple with nested tuple
tup1=(45,35,36,23)
tup2=('a','win','success')
tup3=(tup1,tup2)
print(tup3)

((45, 35, 36, 23), ('a', 'win', 'success'))

In [11]:
# print Odd Numbers in the list
tup4=(11,22,33,44,55,66,77,88,99,100)
print(tup4)
for i in tup4:
    if((i%2)==1):
        print(i,"is odd")

(11, 22, 33, 44, 55, 66, 77, 88, 99, 100)
11 is odd
33 is odd
55 is odd
77 is odd
99 is odd

In [12]:
# print even Numbers in the list
tup4=(11,22,33,44,55,66,77,88,99,100)
print(tup4)
for i in tup4:
    if((i%2)==0):
        print(i,"is even")

(11, 22, 33, 44, 55, 66, 77, 88, 99, 100)
22 is even
44 is even
66 is even
88 is even
100 is even